<!-- Page Content -->
<div class="content sf003020201">
    <div class="row">
        <div class="col-sm-8">
            <div class="block">
                <div class="block-content">
                    <div class="form-group text-right">
                        <button class="btn btn-link" (click)="cancelProduct()">キャンセル</button>
                        <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown"
                                    [disabled]="isView" *ngIf="hasProduct">
                                複製して保存
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a (click)="duplicateProduct(1)">改版として保存</a>
                                </li>
                                <li>
                                    <a (click)="duplicateProduct(2)">新版として保存</a>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-primary" (click)="saveProduct()"
                                [disabled]="isView">
                            保存する
                        </button>
                    </div>
                    <sf0030201 [helper]="helper"></sf0030201>


                    <hr class="hidden-print">

                    <sf0030217 [helper]="helper"></sf0030217>
                    <sf0030218 [helper]="helper"></sf0030218>
                    <sf0030219 [helper]="helper"></sf0030219>
                    <sf0030220 [helper]="helper"></sf0030220>
                    <!-- バーコード -->
                    <sf0030227-barcode [helper]="helper"></sf0030227-barcode>
                    <!-- 備考 -->
                    <sf0030223 [helper]="helper"></sf0030223>
                    <!-- その他（製造単価に含める特殊加工工賃等） -->
                    <sf0030214 [helper]="helper"></sf0030214>
                    <!-- 関連ファイル -->
                    <sf0030205 [helper]="helper"></sf0030205>

                    <div class="push-30-t push-20 text-right">
                        <button class="btn btn-link" (click)="cancelProduct()">キャンセル</button>
                        <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown"
                                    [disabled]="isView" *ngIf="hasProduct">
                                複製して保存
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a (click)="duplicateProduct(1)">改版として保存</a>
                                </li>
                                <li>
                                    <a (click)="duplicateProduct(2)">新版として保存</a>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-primary" (click)="saveProduct()"
                                [disabled]="isView">
                            保存する
                        </button>
                    </div>
                    <div class="push-30-t push-20">
                        <button class="btn btn-link text-danger" (click)="deleteDealProduct()"
                                *ngIf="hasProduct" [disabled]="isView">削除
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">

            <!--試算表出力-->
             <sf0030221 [helper]="helper"></sf0030221>
            <!--見積り共通費目-->
            <sf0030203 [helper]="helper"></sf0030203>

        </div>
    </div>
</div>
<div class="row">
    <div class="push-10-t push-30-l">
        <button class="btn btn-link" (click)="cancelProduct()">戻る</button>
    </div>
</div>
