logs
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/client/node_modules/
/client/.awcache/
/project/
/public/dist
/target

docker-compose.override.yml

_deploy_tool

E:/tmp/*
E:/s3/*
