.modal-content .comment-files {
    list-style-type: none;
    margin-top: 2em;
}

.modal-content .comment-files li{
    margin-top: 0.1em;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
