<div class="content">
    <div class="block">
        <div class="block-content search-panel search-panel--customer">
            <div class="search-panel__header">
                <input class="form-control" type="text" placeholder="Search..">
                <div class="push-5-t text-right">
                    <a href="#search-panel" aria-expanded="false" aria-controls="search-panel" data-toggle="collapse"
                       class="btn btn-sm btn-link collapsed"><i class="fa fa-angle-up fa-lg"></i> 詳細</a>
                </div>
                <!-- /.search-panel__header --></div>
            <div class="search-panel__body bg-gray-lighter collapse" id="search-panel">

                <div class="search-panel__block01">
                    <h3 class="h6 search-panel__heading">対象期間</h3>
                    <div class="form-inline">
                        <select class="form-control input-sm">
                            <option>納品日</option>
                            <option>作成日</option>
                        </select>
                        <div class="form-material form-material--group">
                            <span class="form-material--group__addon">自</span>
                            <input type="text" class="form-control form-material--group__input input-sm"
                                   placeholder="YYYY/MM/DD" value="">
                        </div>
                        〜
                        <div class="form-material form-material--group">
                            <span class="form-material--group__addon">至</span>
                            <input type="text" class="form-control form-material--group__input input-sm"
                                   placeholder="YYYY/MM/DD" value="">
                        </div>
                    </div>
                    <!-- /.deal-search-panel__block01 --></div>

                <div class="search-panel__button-block">
                    <button class="btn btn-success">絞り込む</button>
                </div>
                <!-- /.search-panel__body --></div>
            <!-- /.block-content --></div>
        <!-- /.block --></div>


    <p>該当件数　20　件</p>


    <div class="panel panel-default panel--product">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="panel-title__note">1213017</span>
                <span class="panel-title__main">江崎グリコ 様</span>
                <span class="label label-default panel-title__label--suff">出荷済み</span>

                <a role="button" data-toggle="collapse" class="pull-right accordion-toggle" href="#panel_body01"
                   aria-expanded="true" aria-controls="panel_body01">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
                <span class="pull-right panel-title__date">出荷日: 2016/11/13</span>
            </h3>
            <!-- /.panel-heading --></div>
        <div class="panel-collapse collapse in" id="panel_body01">
            <div class="panel-body block panel-body--has-tab_block">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>製品番号</th>
                        <th>製品名</th>
                        <th>積込場所</th>
                        <th>出荷指示数</th>
                        <th>出荷実績数</th>
                        <th>制限</th>
                        <th>出荷後残</th>
                        <th>備考</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>24023311</td>
                        <td>KS-40中箱</td>
                        <td>第二 F</td>
                        <td>700</td>
                        <td>700</td>
                        <td>x／x</td>
                        <td>250</td>
                        <td>残りは廃棄申請予定</td>
                    </tr>
                    <tr>
                        <td>24023312</td>
                        <td>KS-50仕切り</td>
                        <td>第二 F</td>
                        <td>1,250</td>
                        <td>1,500</td>
                        <td>◯／x</td>
                        <td>0</td>
                        <td>パレット載せ替え</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="active">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>1,950</th>
                        <th>2,200</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>

                <!-- /.panel-body --></div>
            <!-- /.panel-collapse --></div>
        <!-- /.panel --></div>


    <div class="panel panel-default panel--product">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="panel-title__note">161112125</span>
                <span class="panel-title__main">アサヒ飲料 様</span>
                <span class="label label-default panel-title__label--suff">出荷済み</span>

                <a role="button" data-toggle="collapse" class="pull-right accordion-toggle" href="#panel_body02"
                   aria-expanded="true" aria-controls="panel_body02">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
                <span class="pull-right panel-title__date">出荷日: 2016/11/13</span>
            </h3>
            <!-- /.panel-heading --></div>
        <div class="panel-collapse collapse in" id="panel_body02">
            <div class="panel-body block panel-body--has-tab_block">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>製品番号</th>
                        <th>製品名</th>
                        <th>積込場所</th>
                        <th>出荷指示数</th>
                        <th>出荷実績数</th>
                        <th>制限</th>
                        <th>出荷後残</th>
                        <th>備考</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>12023311</td>
                        <td>秋味6本ケース</td>
                        <td>第一B</td>
                        <td>15,000</td>
                        <td>15,000</td>
                        <td>x／x</td>
                        <td>4,000</td>
                        <td></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="active">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>15,000</th>
                        <th>15,000</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>

                <!-- /.panel-body --></div>
            <!-- /.panel-collapse --></div>
        <!-- /.panel --></div>


    <div class="panel panel-default panel--product">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="panel-title__note">161111298</span>
                <span class="panel-title__main">龍角散マーケティング 様</span>
                <span class="label label-default panel-title__label--suff">出荷済み</span>

                <a role="button" data-toggle="collapse" class="pull-right accordion-toggle" href="#panel_body03"
                   aria-expanded="true" aria-controls="panel_body03">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
                <span class="pull-right panel-title__date">出荷日: 2016/11/13</span>
            </h3>
            <!-- /.panel-heading --></div>
        <div class="panel-collapse collapse in" id="panel_body03">
            <div class="panel-body block panel-body--has-tab_block">
                <div class="alert alert-danger">
                    <p class="text-danger">[要確認] 出荷指示数に対して出荷実績数が異なります。問題がないか確認してください</p>
                </div>
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>製品番号</th>
                        <th>製品名</th>
                        <th>積込場所</th>
                        <th>出荷指示数</th>
                        <th>出荷実績数</th>
                        <th>制限</th>
                        <th>出荷後残</th>
                        <th>備考</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>12023311</td>
                        <td>龍角散スリーブ</td>
                        <td>小野A11</td>
                        <td>4,500</td>
                        <td>5,000</td>
                        <td>x／x</td>
                        <td>0</td>
                        <td></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="active">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>4,500</th>
                        <th>5,000</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
                <!-- /.panel-body --></div>
            <!-- /.panel-collapse --></div>
        <!-- /.panel --></div>


    <div class="panel panel-default panel--product">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="panel-title__note">161111298</span>
                <span class="panel-title__main">東京フーズ 様</span>
                <span class="label label-primary panel-title__label--suff">出荷待ち</span>

                <a role="button" data-toggle="collapse" class="pull-right accordion-toggle" href="#panel_body04"
                   aria-expanded="true" aria-controls="panel_body04">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
                <span class="pull-right panel-title__date">出荷日: 2016/11/14</span>
            </h3>
            <!-- /.panel-heading --></div>
        <div class="panel-collapse collapse in" id="panel_body04">
            <div class="panel-body block panel-body--has-tab_block">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>製品番号</th>
                        <th>製品名</th>
                        <th>積込場所</th>
                        <th>出荷指示数</th>
                        <th>出荷実績数</th>
                        <th>制限</th>
                        <th>出荷後残</th>
                        <th>備考</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>12023311</td>
                        <td>東京ばな奈24</td>
                        <td>小野C2</td>
                        <td>8,000</td>
                        <td>-</td>
                        <td>x／x</td>
                        <td>0</td>
                        <td></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="active">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>8,000</th>
                        <th>-</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>

                <!-- /.panel-body --></div>
            <!-- /.panel-collapse --></div>
        <!-- /.panel --></div>


    <div class="push-30-t push-20 row">
        <div class="col-sm-6">
            <button class="btn btn-link">戻る</button>
        </div>
    </div>
    <!-- /.content -->
</div>