<div class="block-header bg-gray-lighter">
    <h3 class="block-title">製品一覧</h3>
</div>
<div class="block-content product-panel">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-inline">
                <div class="form-group">
                    <label class="label-clm-1">期間</label>
                    <input date-input2 class="form-control input-date" type="text" placeholder="YYYY/MM/DD"
                           [(dateModel)]="startDate" data-date-format="yyyy/mm/dd">
                </div>
                <div class="form-group">
                    <label>～</label>
                    <input date-input2 class="form-control input-date" type="text" placeholder="YYYY/MM/DD"
                           [(dateModel)]="endDate" data-date-format="yyyy/mm/dd">
                </div>
                <div class="form-group">
                    <label class="label-clm-2">キーワード</label>
                    <div class="form-group remove-margin-b" style="width: 400px;">
                        <input class="form-control input-sm" type="text" maxlength="20" [(ngModel)]="keyword" (keyup.enter)="doFilter()">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="result-number">該当件数 <span>{{ hits | number }}</span> 件</div>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-link" (click)="exportCsv()"><strong>CSV出力</strong></button>
        </div>
        <div class="col-sm-12 pad-10-b" product-list-table></div>
        <div class="col-sm-6">
            <pagination-component [total]="hits" [pageSize]="10" [(currentPage)]="currentPage"></pagination-component>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-primary" type="button" [disabled]="!hasRecords" (click)="exportProducts()" preventDC [valid]="exportEnabled">
                <strong>製品一覧出力</strong>
            </button>
        </div>
    </div>
</div>