<div class="content">
    <div class="block">
        <div class="block-content search-panel search-panel--customer">
            <div class="search-panel__header">
                <input class="form-control" type="text" placeholder="Search..">
                <div class="push-5-t text-right">
                    <a href="#search-panel_detail" aria-expanded="false" aria-controls="search-panel_detail"
                       data-toggle="collapse" class="btn btn-sm btn-link collapsed"><i class="fa fa-angle-up fa-lg"></i>
                        詳細</a>
                </div>
                <!-- /.search-panel__header --></div>
            <div class="search-panel__body bg-gray-lighter collapse" id="search-panel_detail">
                <div class="search-panel__block02">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3 class="h6 search-panel__heading">案件情報</h3>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 control-label--material">得意先ID</label>
                                    <div class="col-sm-8">
                                        <div class="form-material">
                                            <input type="text" class="form-control input-sm" placeholder="" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4 control-label--material">得意先名</label>
                                    <div class="col-sm-8">
                                        <div class="form-material">
                                            <input type="text" class="form-control input-sm" placeholder="" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4 control-label--material">得意先担当者名</label>
                                    <div class="col-sm-8">
                                        <div class="form-material">
                                            <input type="text" class="form-control input-sm" placeholder="" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4 control-label--material">担当営業名</label>
                                    <div class="col-sm-8">
                                        <div class="form-material">
                                            <input type="text" class="form-control input-sm" placeholder="" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4 control-label--material">取引開始日</label>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="form-material">
                                                    <input type="text" class="form-control input-sm js-datepicker"
                                                           placeholder="YYYY/MM/DD" value=""
                                                           data-date-format="yyyy/mm/dd">
                                                </div>
                                            </div>
                                            <div class="col-xs-1">
                                                <div class="form-control-static--material">〜</div>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="form-material">
                                                    <input type="text" class="form-control input-sm js-datepicker"
                                                           placeholder="YYYY/MM/DD" value=""
                                                           data-date-format="yyyy/mm/dd">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.col-sm-8 --></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">HP経由</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-sm">
                                            <option>指定なし</option>
                                            <option>はい</option>
                                            <option>いいえ</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- /.form-horizontal --></div>
                            <!-- /.col-sm-4 --></div>
                        <div class="col-sm-4">
                            <h3 class="h6 search-panel__heading">製品仕様</h3>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 control-label--material">製品ID</label>
                                    <div class="col-sm-8">
                                        <div class="form-material">
                                            <input type="text" class="form-control input-sm" placeholder="" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4 control-label--material">製品名</label>
                                    <div class="col-sm-8">
                                        <div class="form-material">
                                            <input type="text" class="form-control input-sm" placeholder="" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4 control-label--material">用途</label>
                                    <div class="col-sm-8">
                                        <div class="form-material">
                                            <input type="text" class="form-control input-sm" placeholder="" value="">
                                        </div>
                                    </div>
                                </div>
                                <!-- /.form-horizontal --></div>
                            <!-- /.col-sm-4 --></div>
                        <div class="col-sm-4">
                            <h3 class="h6 search-panel__heading">受注情報</h3>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-sm-4 control-label--material">取引実績額<br>（直近３年）</label>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="form-material">
                                                    <input type="text" class="form-control input-sm" placeholder=""
                                                           value="">
                                                </div>
                                            </div>
                                            <div class="col-xs-1">
                                                <div class="form-control-static--material">〜</div>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="form-material">
                                                    <input type="text" class="form-control input-sm" placeholder=""
                                                           value="">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.col-sm-8 --></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4 control-label--material">製品在庫数</label>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="form-material">
                                                    <input type="text" class="form-control input-sm" placeholder=""
                                                           value="">
                                                </div>
                                            </div>
                                            <div class="col-xs-1">
                                                <div class="form-control-static--material">〜</div>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="form-material">
                                                    <input type="text" class="form-control input-sm" placeholder=""
                                                           value="">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.col-sm-8 --></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4">取引区分</label>
                                    <div class="col-sm-8">
                                        <select class="form-control input-sm">
                                            <option>取引可能</option>
                                            <option>取引不可</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- /.form-horizontal --></div>
                            <!-- /.col-sm-4 --></div>
                        <!-- /.row --></div>
                    <!-- /.search-panel__block02 --></div>
                <div class="search-panel__button-block">
                    <button class="btn btn-success">絞り込む</button>
                </div>
                <!-- /.search-panel__body --></div>
            <!-- /.block-content --></div>
        <!-- /.block --></div>

    <p>該当件数　20　件</p>


    <!-- 得意先アイテム -->
    <div class="panel panel-default panel--customer">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="panel-title__note">1213017</span>
                <a href="SF004-02.html" class="panel-title__link">株式会社東京フーズ　本店営業部</a>

                <a role="button" data-toggle="collapse" class="pull-right accordion-toggle" href="#panel_body01"
                   aria-expanded="true" aria-controls="panel_body01">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
                <span class="pull-right panel-title__date">更新日: 2016/10/6</span>
            </h3>
            <!-- /.panel-heading --></div>
        <div class="panel-collapse collapse in" id="panel_body01">
            <div class="panel-body block panel-body--has-tab_block">
                <ul class="nav nav-tabs nav-tabs-alt">
                    <li class="active">
                        <a href="#panel_content0101" data-toggle="tab">基本情報</a>
                    </li>
                    <li>
                        <a href="#panel_content0102" data-toggle="tab">取引実績・在庫数</a>
                    </li>
                    <li>
                        <a href="#panel_content0103" data-toggle="tab">製品一覧</a>
                    </li>
                    <li class="pull-right">
                        <div class="block-options-simple">
                            <a href="SF003-02.html" class="btn btn-link">詳細</a>
                            <a href="SF003-01.html" class="btn btn-primary">案件の得意先として指定する</a>
                        </div>
                    </li>
                    <!-- /.nav --></ul>
                <div class="tab-content">
                    <div class="tab-pane tab-pane--default active" id="panel_content0101">
                        <table class="table table-condensed">
                            <tbody>
                            <tr>
                                <th>得意先名</th>
                                <td>株式会社東京フーズ　本店営業部</td>
                                <th>登録日</th>
                                <td>2001/10/13</td>
                            </tr>
                            <tr>
                                <th>住所</th>
                                <td>〒◯◯◯県◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯</td>
                                <th>登録日</th>
                                <td>佐賀洲次郎／東京支店</td>
                            </tr>
                            <tr>
                                <th>TEL</th>
                                <td>000-0000-0000</td>
                                <th>HP経由</th>
                                <td>いいえ</td>
                            </tr>
                            <tr>
                                <th>FAX</th>
                                <td>000-0000-0000</td>
                                <th></th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>担当部署</th>
                                <td>本店営業部</td>
                                <th></th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>得意先担当者</th>
                                <td>伊藤あすか　様</td>
                                <th></th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>

                        <hr>

                        <h4 class="h6 push-5">備考（カルテ）</h4>
                        <p>佐賀営業所ご担当からのご紹介により、2001年より東京でのお取引開始。<br>新版の場合は、必ず本機校正を実施（費用はご負担いただける）。</p>
                        <!-- /.tab-pane --></div>
                    <div class="tab-pane tab-pane--stock" id="panel_content0102">
                        <div class="row">
                            <div class="col-md-7">
                                <h4 class="h6 tab-pane--stock__list-title">直近のお取引状況</h4>
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>日付</th>
                                        <th>案件名</th>
                                        <th>注文数</th>
                                        <th>単価</th>
                                        <th>金額</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>2015/12/10</td>
                                        <td>東京ばな奈24ケース</td>
                                        <td>2,000ロット</td>
                                        <td>@120</td>
                                        <td>240,000円</td>
                                    </tr>
                                    <tr>
                                        <td>2015/9/28</td>
                                        <td>東京ばな奈24ケース</td>
                                        <td>2,000ロット</td>
                                        <td>@120</td>
                                        <td>240,000円</td>
                                    </tr>
                                    <tr>
                                        <td>2015/8/2</td>
                                        <td>東京ばな奈24ケース</td>
                                        <td>1,000ロット</td>
                                        <td>@150</td>
                                        <td>150,000円</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-5">
                                <h4 class="h6 tab-pane--stock__list-title">在庫リスト</h4>
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>製品名</th>
                                        <th>在庫数</th>
                                        <th>単価</th>
                                        <th>日数</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>東京バナナ12ケース</td>
                                        <td>1,500</td>
                                        <td>@90</td>
                                        <td>71日</td>
                                    </tr>
                                    <tr>
                                        <td>東京バナナ3ケケース</td>
                                        <td>800</td>
                                        <td>@90</td>
                                        <td>31日</td>
                                    </tr>
                                    <tr>
                                        <td>東京バナナ12ケース</td>
                                        <td>400</td>
                                        <td>@90</td>
                                        <td>18日</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- /.col-md-5 --></div>
                            <!-- /.row --></div>
                        <!-- /.tab-pane --></div>
                    <div class="tab-pane tab-pane--products" id="panel_content0103">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>製品番号</th>
                                <th>製品名</th>
                                <th>サイズ</th>
                                <th>材料</th>
                                <th>標準ロット</th>
                                <th>単価</th>
                                <th>木型</th>
                                <th>通算生産数</th>
                                <th>木型保管期限</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>24023311</td>
                                <td>KS-40中箱</td>
                                <td>343 x 308 x 109</td>
                                <td>コートボール400g</td>
                                <td>2,000ロット</td>
                                <td>@100.0</td>
                                <td>V010111</td>
                                <td>154,000</td>
                                <td>2016/11/18</td>
                            </tr>
                            <tr>
                                <td>24023312</td>
                                <td>KS-50仕切り</td>
                                <td>-</td>
                                <td>コートボール400g</td>
                                <td>2,000ロット</td>
                                <td>@41.0</td>
                                <td>V010112</td>
                                <td>82.000</td>
                                <td>2016/11/18</td>
                            </tr>
                            <tr>
                                <td>23028421</td>
                                <td>くまモン味のり</td>
                                <td>200 x 100 x 152</td>
                                <td>コートボール400g</td>
                                <td>5,000ロット</td>
                                <td>@59.5</td>
                                <td>V010122</td>
                                <td>65,000</td>
                                <td>2016/11/18</td>
                            </tr>
                            <tr>
                                <td>23028420</td>
                                <td>くまモン味のり</td>
                                <td>300 x 100 x 152</td>
                                <td>コートボール400g</td>
                                <td>2,000ロット</td>
                                <td>@61.0</td>
                                <td>V004569</td>
                                <td>8,000</td>
                                <td>2016/11/18</td>
                            </tr>
                            <tr>
                                <td>25023311</td>
                                <td>IA-30（蓋）</td>
                                <td>331 x 248 x 83</td>
                                <td>アルコートゴール…</td>
                                <td>3,000ロット</td>
                                <td>@123</td>
                                <td>V021029</td>
                                <td>1,500</td>
                                <td>2016/11/18</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /.tab-pane --></div>


                    <!-- /.tab-content --></div>
                <!-- /.panel-body --></div>
            <!-- /.panel-collapse --></div>
        <!-- /.panel --></div>
    <!-- /得意先アイテム -->


    <!-- 得意先アイテム -->
    <div class="panel panel-default panel--customer">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="panel-title__note">1213017</span>
                <a href="SF004-02.html" class="panel-title__link">株式会社東京フーズ　本店営業部</a>

                <a role="button" data-toggle="collapse" class="pull-right accordion-toggle" href="#panel_body01"
                   aria-expanded="true" aria-controls="panel_body02">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
                <span class="pull-right panel-title__date">更新日: 2016/10/6</span>
            </h3>
            <!-- /.panel-heading --></div>
        <div class="panel-collapse collapse in" id="panel_body02">
            <div class="panel-body block panel-body--has-tab_block">
                <ul class="nav nav-tabs nav-tabs-alt">
                    <li class="active">
                        <a href="#panel_content0201" data-toggle="tab">基本情報</a>
                    </li>
                    <li>
                        <a href="#panel_content0202" data-toggle="tab">取引実績・在庫数</a>
                    </li>
                    <li>
                        <a href="#panel_content0203" data-toggle="tab">製品一覧</a>
                    </li>
                    <li class="pull-right">
                        <div class="block-options-simple">
                            <a href="SF003-02.html" class="btn btn-link">詳細</a>
                            <a href="SF003-01.html" class="btn btn-primary">案件の得意先として指定する</a>
                        </div>
                    </li>
                    <!-- /.nav --></ul>
                <div class="tab-content">
                    <div class="tab-pane tab-pane--default active" id="panel_content0201">
                        <table class="table table-condensed">
                            <tbody>
                            <tr>
                                <th>得意先名</th>
                                <td>株式会社東京フーズ　本店営業部</td>
                                <th>登録日</th>
                                <td>2001/10/13</td>
                            </tr>
                            <tr>
                                <th>住所</th>
                                <td>〒◯◯◯県◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯◯</td>
                                <th>登録日</th>
                                <td>佐賀洲次郎／東京支店</td>
                            </tr>
                            <tr>
                                <th>TEL</th>
                                <td>000-0000-0000</td>
                                <th>HP経由</th>
                                <td>いいえ</td>
                            </tr>
                            <tr>
                                <th>FAX</th>
                                <td>000-0000-0000</td>
                                <th></th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>担当部署</th>
                                <td>本店営業部</td>
                                <th></th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>得意先担当者</th>
                                <td>伊藤あすか　様</td>
                                <th></th>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>

                        <hr>

                        <h4 class="h6 push-5">備考（カルテ）</h4>
                        <p>佐賀営業所ご担当からのご紹介により、2001年より東京でのお取引開始。<br>新版の場合は、必ず本機校正を実施（費用はご負担いただける）。</p>
                        <!-- /.tab-pane --></div>
                    <div class="tab-pane tab-pane--stock" id="panel_content0202">
                        <div class="row">
                            <div class="col-md-7">
                                <h4 class="h6 tab-pane--stock__list-title">直近のお取引状況</h4>
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>日付</th>
                                        <th>案件名</th>
                                        <th>注文数</th>
                                        <th>単価</th>
                                        <th>金額</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>2015/12/10</td>
                                        <td>東京ばな奈24ケース</td>
                                        <td>2,000ロット</td>
                                        <td>@120</td>
                                        <td>240,000円</td>
                                    </tr>
                                    <tr>
                                        <td>2015/9/28</td>
                                        <td>東京ばな奈24ケース</td>
                                        <td>2,000ロット</td>
                                        <td>@120</td>
                                        <td>240,000円</td>
                                    </tr>
                                    <tr>
                                        <td>2015/8/2</td>
                                        <td>東京ばな奈24ケース</td>
                                        <td>1,000ロット</td>
                                        <td>@150</td>
                                        <td>150,000円</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-5">
                                <h4 class="h6 tab-pane--stock__list-title">在庫リスト</h4>
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>製品名</th>
                                        <th>在庫数</th>
                                        <th>単価</th>
                                        <th>日数</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>東京バナナ12ケース</td>
                                        <td>1,500</td>
                                        <td>@90</td>
                                        <td>71日</td>
                                    </tr>
                                    <tr>
                                        <td>東京バナナ3ケケース</td>
                                        <td>800</td>
                                        <td>@90</td>
                                        <td>31日</td>
                                    </tr>
                                    <tr>
                                        <td>東京バナナ12ケース</td>
                                        <td>400</td>
                                        <td>@90</td>
                                        <td>18日</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- /.col-md-5 --></div>
                            <!-- /.row --></div>
                        <!-- /.tab-pane --></div>
                    <div class="tab-pane tab-pane--products" id="panel_content0203">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>製品番号</th>
                                <th>製品名</th>
                                <th>サイズ</th>
                                <th>材料</th>
                                <th>標準ロット</th>
                                <th>単価</th>
                                <th>木型</th>
                                <th>通算生産数</th>
                                <th>木型保管期限</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>24023311</td>
                                <td>KS-40中箱</td>
                                <td>343 x 308 x 109</td>
                                <td>コートボール400g</td>
                                <td>2,000ロット</td>
                                <td>@100.0</td>
                                <td>V010111</td>
                                <td>154,000</td>
                                <td>2016/11/18</td>
                            </tr>
                            <tr>
                                <td>24023312</td>
                                <td>KS-50仕切り</td>
                                <td>-</td>
                                <td>コートボール400g</td>
                                <td>2,000ロット</td>
                                <td>@41.0</td>
                                <td>V010112</td>
                                <td>82.000</td>
                                <td>2016/11/18</td>
                            </tr>
                            <tr>
                                <td>23028421</td>
                                <td>くまモン味のり</td>
                                <td>200 x 100 x 152</td>
                                <td>コートボール400g</td>
                                <td>5,000ロット</td>
                                <td>@59.5</td>
                                <td>V010122</td>
                                <td>65,000</td>
                                <td>2016/11/18</td>
                            </tr>
                            <tr>
                                <td>23028420</td>
                                <td>くまモン味のり</td>
                                <td>300 x 100 x 152</td>
                                <td>コートボール400g</td>
                                <td>2,000ロット</td>
                                <td>@61.0</td>
                                <td>V004569</td>
                                <td>8,000</td>
                                <td>2016/11/18</td>
                            </tr>
                            <tr>
                                <td>25023311</td>
                                <td>IA-30（蓋）</td>
                                <td>331 x 248 x 83</td>
                                <td>アルコートゴール…</td>
                                <td>3,000ロット</td>
                                <td>@123</td>
                                <td>V021029</td>
                                <td>1,500</td>
                                <td>2016/11/18</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /.tab-pane --></div>


                    <!-- /.tab-content --></div>
                <!-- /.panel-body --></div>
            <!-- /.panel-collapse --></div>
        <!-- /.panel --></div>
    <!-- /得意先アイテム -->

    <div class="push-30-t push-20 row">
        <div class="col-sm-6">
            <button class="btn btn-link">戻る</button>
        </div>
    </div>
    <!-- /.content -->
</div>