<!-- Login Content -->
<div class="content overflow-hidden">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <!-- Login Block -->
            <div class="block block-themed animated fadeIn">
                <div class="block-header bg-primary">
                    <ul class="block-options">
                        <li>
                            <a [routerLink]="['/recover-password']">パスワードを再発行する</a>
                        </li>
                    </ul>
                    <h3 class="block-title">Login</h3>
                </div>
                <div class="block-content block-content-full block-content-narrow">
                    <!-- Login Title -->
                    <h1 class="h2 font-w600 push-30-t push-5">SGSK.jp</h1>
                    <!-- END Login Title -->

                    <!-- Login Form -->
                    <form (ngSubmit)="login()" id="cc00100-login-form"
                          class="form-horizontal js-validation-material push-30-t push-50">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary">
                                    <input class="form-control" type="email"
                                           id="login-email" name="login-email"
                                           maxlength="50" [(ngModel)]="email"
                                           placeholder="Enter your email..">
                                    <label for="login-email">ユーザーID</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material">
                                    <input class="form-control" type="password"
                                           id="login-password" name="login-password"
                                           maxlength="60" [(ngModel)]="password"
                                           placeholder="Enter your password..">
                                    <label for="login-password">パスワード</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="css-input switch switch-sm switch-primary">
                                    <input type="checkbox" [(ngModel)]="remember" name="remember"><span></span> 保存する
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                                <button class="btn btn-block btn-primary" type="submit"><i
                                        class="si si-login pull-right"></i> ログイン
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- END Login Form -->
                </div>
            </div>
            <!-- END Login Block -->
        </div>
    </div>
</div>
<!-- END Login Content -->

<!-- Login Footer -->
<div class="push-10-t text-center animated fadeInUp">
    <small class="text-muted font-w600">© SGSK.jp v0.1.0 (2017.3)</small>
</div>
<!-- END Login Footer -->