<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            1. 箱の現物はありますか？（既存箱のリニューアル？）
        </div>
        <div class="col-sm-4">
            {{question1001_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            2. 中身はなんですか？現物はございますか？
        </div>
        <div class="col-sm-4">
            {{question1002_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            3. 食品と直接接触しますか？（一次包装かどうか）
        </div>
        <div class="col-sm-4">
            {{question1003_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            4. 重量と入り数は？
        </div>
        <div class="col-sm-4">
            {{question1004_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            5. 輸送方法と輸送距離は？
        </div>
        <div class="col-sm-4">
            {{question1005_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            6. 数量は何個（枚）必要ですか？
        </div>
        <div class="col-sm-4">
            {{question1007_Number}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            7. 数量制限はありますか？
        </div>
        <div class="col-sm-4">
            {{question1008_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            8. 希望されるサンプル数と納期は？
        </div>
        <div class="col-sm-4">
            {{question1009_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            9. お客様の業種は？（同業案件の場合：末端のお客様の業種）
        </div>
        <div class="col-sm-4">
            {{question1010_Select}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            10. リサイクルに関する要件は？
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            　　　　1. 製品種類詳細は？
        </div>
        <div class="col-sm-4">
            {{question1011_Select1}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            　　　　2. 費用負担有無は？
        </div>
        <div class="col-sm-4">
            {{question1011_2}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            　　　　3. 廃棄種別は？
        </div>
        <div class="col-sm-4">
            {{question1011_Select2}}
        </div>
    </div>
</div>