<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            1. どのような形状ですか？（紙器タイプ）
        </div>
        <div class="col-sm-4">
            {{question2001_Select}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            2. 新しい形状の提案をご希望ですか？
        </div>
        <div class="col-sm-4">
            {{question2002_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            3. 重要視するポイントは？
        </div>
        <div class="col-sm-4">
            {{question2003_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            4. 指定材質はございますか？
        </div>
        <div class="col-sm-4">
            {{question2004_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            5. 支給いだだけるデザインはありますか？
        </div>
        <div class="col-sm-4">
            {{question2005_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            6. 表示するマーク・バーコードは？
        </div>
        <div class="col-sm-4">
            {{question2006_CheckBox}}
        </div>
    </div>
</div>
<div class="row row-border-bottom" *ngIf="question2061_Text!=''">
    <div class="block padding-10-t">
        <div class="col-sm-8">
        </div>
        <div class="col-sm-4">
            {{question2061_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom" *ngIf="question2062_Text!=''">
    <div class="block padding-10-t">
        <div class="col-sm-8">
        </div>
        <div class="col-sm-4">
            {{question2062_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom" *ngIf="question2063_Text!=''">
    <div class="block padding-10-t">
        <div class="col-sm-8">
        </div>
        <div class="col-sm-4">
            {{question2063_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            7. 色数は？
        </div>
        <div class="col-sm-4">
            {{question2007_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            8. 色見本・指定色は？
        </div>
        <div class="col-sm-4">
            {{question2008_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            9. 色校正は必要ですか？
        </div>
        <div class="col-sm-4">
            {{question2009_Radio}}
        </div>
    </div>
</div>