<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            1. 印刷方法はなんですか？
        </div>
        <div class="col-sm-4">
            {{question3001_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            2. 表面加工の種類は？
        </div>
        <div class="col-sm-4">
            {{question3002_Select}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            3. ブラン抜きは必要ですか？（同業の場合）
        </div>
        <div class="col-sm-4">
            {{question3003_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            4. 箔押し・型出しはありますか？
        </div>
        <div class="col-sm-4">
            {{question3004_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            5. 充填方法は？
        </div>
        <div class="col-sm-4">
            {{question3005_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            6. オートケーサーの種類は？
        </div>
        <div class="col-sm-4">
            {{question3006_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            7. カートナーテスト有無と枚数は？
        </div>
        <div class="col-sm-4">
            {{question3007_Text}}
        </div>
    </div>
</div>