<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            1. 輸送テストは必要ですか？
        </div>
        <div class="col-sm-4">
            {{question4002_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            2. 落下テスト・圧縮テストは必要ですか？
        </div>
        <div class="col-sm-4">
            {{question4003_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            3. 配送時間指定はありますか？
        </div>
        <div class="col-sm-4">
            {{question4004_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            4. 受け入れ担当者のお名前は？
        </div>
        <div class="col-sm-4">
            {{question4005_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            5. 指定の専用ダンボールはありますか？
        </div>
        <div class="col-sm-4">
            {{question4006_Select}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            6. 梱包作業時の申し送り事項はありますか？
        </div>
        <div class="col-sm-4">
            {{question4007_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            <strong>－　以下、原則として新規取引開始時のみ　－</strong>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            7. 指定の伝票はありますか？
        </div>
        <div class="col-sm-4">
            {{question4008_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            8. 配送可能な車両の大きさは？
        </div>
        <div class="col-sm-4">
            {{question4009_CheckBox}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            9.　納入先の情報について教えてください？
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            　　　　1. 納入先の呼称
        </div>
        <div class="col-sm-4">
            {{question4010_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            　　　　2. 自社倉庫の有無
        </div>
        <div class="col-sm-4">
            {{question4011_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            　　　　3. 倉庫の広さ
        </div>
        <div class="col-sm-4">
            {{question4012_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            　　　　4. ラック棚番号
        </div>
        <div class="col-sm-4">
            {{question4013_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            　　　　5. パレットサイズ
        </div>
        <div class="col-sm-4">
            {{question4014_Text}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            　　　　6. パレット受け入れ
        </div>
        <div class="col-sm-4">
            {{question4015_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            　　　　7. 2階以上あげ
        </div>
        <div class="col-sm-4">
            {{question4016_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            　　　　8. リフト利用
        </div>
        <div class="col-sm-4">
            {{question4017_Radio}}
        </div>
    </div>
</div>
<div class="row row-border-bottom">
    <div class="block padding-10-t">
        <div class="col-sm-8">
            　　　　9. 手作業納品
        </div>
        <div class="col-sm-4">
            {{question4018_Radio}}
        </div>
    </div>
</div>