.sf0050107 .padding-30-l {
    padding-left: 30px;
}

.sf0050107 .padding-55-l {
    padding-left: 55px;
}

.sf0050107 .padding-40-l {
    padding-left: 40px;
}
.sf0050107 .nav .active > a{
    color: black;
}
.sf0050107 .nav > li > a{
    color: grey;
}
.sf0050107 .row-h-36{
    height: 36px;
}