<div class="row push-50-t">
    <div class="col-sm-3">
        <dt class="font-large">2. 新規得意先</dt>
    </div>
    <div class="col-sm-9"><p class="font-large pull-right push-30-r push-10-t remove-margin-b">単位: 千円</p></div>
</div>

<div class="form-group">
    <div class="row row-border-bottom">
        <div class="col-sm-4 remove-padding-r">
            <table class="table table-borderless table-border-right">
                <tr class="tr-border-bottom-grey">
                    <th class="text-left remove-padding-b"><label class="control-label">
                        <dt class="font-medium">製品分類</dt>
                    </label></th>
                    <th class="text-right remove-padding-b"><label class="control-label">
                        <dt class="font-medium push-50-r">通年</dt>
                    </label></th>
                </tr>
                <tbody>
                <tr>
                    <td><label class="control-label label-padding-5-t">段ボール</label></td>
                    <td class="text-right"><label class="control-label label-padding-5-t-20-r">{{type1New |
                        numberFormat}}</label>
                    </td>
                </tr>
                <tr>
                    <td><label class="control-label label-padding-5-t">紙器</label></td>
                    <td class="text-right">
                        <label class="control-label label-padding-5-t-20-r">{{type2New | numberFormat}}</label>
                    </td>
                </tr>
                <tr>
                    <ng-container *ngIf="sf00503Data.readOnlyDeptGoal">
                        <td><label class="control-label label-padding-5-t">商事</label></td>
                        <td class="text-right">
                            <label class="control-label label-padding-5-t-20-r">{{type3New |
                                numberFormat}}</label>
                        </td>
                    </ng-container>
                    <ng-container *ngIf="!sf00503Data.readOnlyDeptGoal">
                        <td><label class="control-label label-padding-5-t label-padding-5-b">商事</label></td>
                        <td class="text-right">
                            <label class="control-label label-padding-5-t-20-r label-padding-5-b">{{type3New |
                                numberFormat}}</label>
                        </td>
                    </ng-container>
                </tr>
                <tr class="tr-background">
                    <td><label class="control-label label-padding-5-t">
                        <dt>目標</dt>
                    </label></td>
                    <td class="text-right">
                        <label class="control-label label-padding-5-t-20-r">
                            <dt>{{totalNew | numberFormat}}</dt>
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-8 remove-padding-l div-scroll-x">
            <table class="table table-borderless">
                <tr class="tr-border-bottom-grey">
                    <th class="text-center remove-padding-b"><label class="control-label font-medium">
                        <dt>4</dt>
                    </label></th>
                    <th class="text-center remove-padding-b"><label class="control-label font-medium">
                        <dt>5</dt>
                    </label></th>
                    <th class="text-center remove-padding-b"><label class="control-label font-medium">
                        <dt>6</dt>
                    </label></th>
                    <th class="text-center remove-padding-b"><label class="control-label font-medium">
                        <dt>7</dt>
                    </label></th>
                    <th class="text-center remove-padding-b"><label class="control-label font-medium">
                        <dt>8</dt>
                    </label></th>
                    <th class="text-center remove-padding-b"><label class="control-label font-medium">
                        <dt>9</dt>
                    </label></th>
                    <th class="text-center remove-padding-b"><label class="control-label font-medium">
                        <dt>10</dt>
                    </label></th>
                    <th class="text-center remove-padding-b"><label class="control-label font-medium">
                        <dt>11</dt>
                    </label></th>
                    <th class="text-center remove-padding-b"><label class="control-label font-medium">
                        <dt>12</dt>
                    </label></th>
                    <th class="text-center remove-padding-b"><label class="control-label font-medium">
                        <dt>1</dt>
                    </label></th>
                    <th class="text-center remove-padding-b"><label class="control-label font-medium">
                        <dt>2</dt>
                    </label></th>
                    <th class="text-center remove-padding-b"><label class="control-label font-medium">
                        <dt>3</dt>
                    </label></th>
                </tr>
                <tbody>
                <tr *ngFor="let row of rows; let i=index">
                    <td *ngFor="let column of columns; let j=index">
                        <ng-container *ngIf="!sf00503Data.readOnlyDeptGoal">
                            <div class="form-group text-center remove-margin-b">
                                <input type="text" class="form-control text-right remove-padding input-80-w"
                                       number-input [(numberValue)]="sf00503Data.goldNew[i][j]" [numberPrecision]="0"
                                       [defaultValue]="0"
                                       [maxValue]="999999" [minValue]="0" (change)="emitDataChangedEvent()"
                                       (numberValueChange)="updateDataChange($event)">
                            </div>
                        </ng-container>
                        <ng-container *ngIf="sf00503Data.readOnlyDeptGoal">
                            <div class="text-right">
                                <label class="control-label" style="padding-top: 7px;">{{sf00503Data.goldNew[i][j]
                                    | numberFormat}}</label>
                            </div>
                        </ng-container>
                    </td>
                </tr>

                <tr class="tr-background">
                    <td *ngFor="let column of columns; let i =index;">
                        <div class="text-right"><label class="control-label label-md-padding-5-t">
                            <dt style="width: 85px">{{sf00503Data.goldNewCus[i] | numberFormat}}</dt>
                        </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="push-50-t">
    <dt class="font-large" style="color: #686868">活動方針（上記をいかに達成するか）</dt>
</div>

<div class="form-group push-10-t">
    <textarea class="form-control text-area-goal" [disabled]="sf00503Data.readOnlyDeptGoal" rows="8" id="encCss"
              maxlength="400" name="activityPolicy"
              (change)="emitDataChangedEvent()" [(ngModel)]="activityPolicy"></textarea>
</div>
