<div class="content sfn0505">

    <div class="panel panel-default summary-content">
        <div class="panel-heading">
            <h3 class="panel-title">
                出荷状況
            </h3>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
            <div class="filter-form" sfn050501></div>
            <div class="row push-30-t" sfn050502></div>
        </div><!-- /.panel-body -->
    </div>

    <div class="push-20-t push-20 row">
        <div class="col-sm-6">
            <button class="btn btn-link" (click)="goBack()">戻る</button>
        </div>
    </div>
</div><!-- /.content -->