<!-- バーコード -->
<div class="panel panel-default panel--index">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a aria-controls="panel_body24" aria-expanded="true"
               class="accordion-toggle" data-toggle="collapse"
               href="#panel_body24" role="button">
                <i class="fa push-5-r"
                   [ngClass]="{'fa-check-circle-o text-success': hasValues, 'fa-circle-o text-gray': !hasValues}"></i>
                <span>バーコード</span>
                <i class="pull-right glyphicon glyphicon-chevron-down"></i>
            </a>
        </h3>
    </div>
    <div class="panel-collapse collapse in" id="panel_body24">
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group" *ngFor="let field of fields">
                    <div class="col-sm-3">
                        <label class="control-label">{{field.name}}</label>
                    </div>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" maxlength="40"
                            [disabled]="!canModify || field.disabled" [(ngModel)]="field.value"
                            (change)="onChangeField()">
                    </div>
                </div>
            </div>
            <div>
                バーコードは最大 3 個まで入力可能です。
            </div>
        </div>
    </div>
</div>